* {
    font-family: "Carter One", cursive;
}

body {
    margin: 0;
    background-image: url("../../src/images/poker-table.jpg");
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
}

.nav-link {
    color: dodgerblue;
    padding: 0.1px;
    font-size: 1.3rem;
}

.nav-item a {
    margin-top: 7px;
    &:hover {
        color: white;
    }
}

.nav-item img {
    margin-bottom: 10px;
}
