#container-main {
    background-color: dodgerblue;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

#container-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
    h1 {
        font-size: 1.8rem;
        margin-bottom: -10px;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .col img {
        mix-blend-mode: multiply;
    }
}

#timer {
    font-size: 1.7rem;
}

.main {
    background-color: lightblue;
    width: 60%;
    margin: auto;
    border: 4px solid black;
    margin-top: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 10.3px 10.9px rgba(0, 0, 0, 0.072), 0 10.8px 10.4px rgba(0, 0, 0, 0.086), 0 10px 10px rgba(0, 0, 0, 0.12);
}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
        width: 99%;
    }
    .player,
    .ordinateur {
        text-transform: uppercase;
        margin: 10px;
        margin-bottom: -2px;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 5px;
        border: 3px solid black;
    }
    .player {
        background-color: lightcoral;
        span {
            color: white;
            text-transform: capitalize;
        }
    }
    .ordinateur {
        background-color: #f8a412;
        span {
            color: white;
            text-transform: capitalize;
        }
    }
    h1 {
        font-size: 1.5rem;
    }
}

#mettreMot {
    font-size: 2rem;
    span {
        text-decoration: underline;
        margin: 0.2em;
    }
}

.grid {
    width: 164px;
    height: 150px;
    margin: 10px;
    margin-left: 7px;
    border-radius: 5px;
}

#container-settings {
    margin: 15px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #ece8ed;
    font-size: 1.2rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        margin-right: 10px;
    }
    .buttons {
        background-color: white;
        padding: 5px 30px;
        border-radius: 5px;
        color: black;
        margin: 15px;
        border: 2px solid black;
    }
    .active,
    .buttons:hover {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
    }
    .second-active,
    .buttons-vitesse:hover {
        background-color: #28a745;
        color: white;
        cursor: pointer;
    }
}

#start {
    position: absolute;
    left: 44.2%;
    bottom: 33%;
    margin: auto;
    z-index: 3000;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 70px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background-color: lightslategray;
    }
}
