// Container Main Grid
#container-main {
    background-color: dodgerblue;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

// Container Top
#container-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: #17a2b8;
    border: 3px solid black;
    border-radius: 5px;
    h1 {
        font-size: 1.8rem;
        margin-bottom: -10px;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .col {
        border: 3px solid black;
        margin: 15px;
        padding: 5px;
        border-radius: 5px;
        background-color: #ece8ed;
    }
    .col img {
        mix-blend-mode: multiply;
    }
}

// Counter Timer Size
#timer {
    font-size: 1.6rem;
}

// Section Main
.main {
    background-color: lightblue;
    width: 60%;
    margin: auto;
    border: 4px solid black;
    border-radius: 5px;
    margin-top: 15px;
}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
        width: 99%;
    }
    .player,
    .ordinateur {
        text-transform: uppercase;
        margin: 10px;
        margin-bottom: -1px;
        margin-top: -1px;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 5px;
        border: 3px solid black;
        padding: 5px;
    }
    .player {
        overflow: hidden;
        position: relative;
        background-color: lightcoral;
        span {
            color: white;
            text-transform: capitalize;
        }
    }
    .ordinateur {
        background-color: #f8a412;
        span {
            color: white;
            text-transform: capitalize;
        }
    }
    .player::before,
    .player::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        border: 3px solid transparent;
        width: 0;
        height: 0;
    }
    .player::before {
        top: 0;
        left: 0;
        border-top-color: aquamarine;
        border-right-color: aquamarine;
        animation: border 2s infinite;
    }
    .player::after {
        bottom: 0;
        right: 0;
        animation: border 2s 1s infinite, borderColor 2s 1s infinite;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes borderColor {
    0% {
        border-bottom-color: aquamarine;
        border-left-color: aquamarine;
    }
    50% {
        border-bottom-color: aquamarine;
        border-left-color: aquamarine;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

#mettreMot {
    font-size: 1.6rem;
    span {
        text-decoration: underline;
        margin: 0.2em;
    }
}

.grid {
    width: 165px;
    height: 150px;
    margin: 10px;
    margin-left: 7px;
    border-radius: 5px;
    border: 2px solid black;
}

#container-settings {
    margin: 15px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #ece8ed;
    font-size: 1.2rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        margin-right: 10px;
    }
    .buttons {
        background-color: white;
        padding: 2px 40px;
        border-radius: 5px;
        color: black;
        margin: 15px;
        border: 2px solid black;
    }
    .active,
    .buttons:hover {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
    }
    .second-active,
    .buttons-vitesse:hover {
        background-color: #28a745;
        color: white;
        cursor: pointer;
    }
}

// Start element to play
#start {
    position: absolute;
    left: 44.5%;
    bottom: 31.5%;
    z-index: 3000;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 65px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background-color: lightslategray;
    }
}

// Emoji Fun Container Top
#fun {
    border: 10px double black;
}
